@font-face {
  font-family: 'Doodles';
  src: url('https://callmedas69.github.io/based-stoodio/static/font/doodles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Doodles', sans-serif;
  background-color: rgb(255, 255, 255);
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  color: #fff;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 100px;
}

header h1 {
  margin: 0.5rem 0;
  font-size: 3rem;
  color: #000000;
}

header h2 {
  margin: 0.1rem 0;
  font-weight: 300;
  font-size: 1.5rem;
  color: #3700ff;
}

main {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#meme-canvas {
  border: 1px solid rgb(233, 159, 1);
  width: 75%;
  height: auto;
}

.canvas-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #bbff00;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.upload-container input[type="file"] {
  display: none;
}

.sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sliders label {
  margin: 0.5rem 0;
  color: #727272;
  font-size: small;
}

.sliders input[type="range"] {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
  height: 10px; /* Increased slider height */
}

#color-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, 
      red, orange, yellow, green, cyan, blue, violet, red);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for 3D effect */
  transform: perspective(5px) translateZ(1px); /* Perspective for 3D effect */
}

#color-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 2px solid #000;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Shadow for 3D effect */
  transition: background-color 0.3s ease; /* Smooth transition */
}

#color-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 2px solid #000;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Shadow for 3D effect */
  transition: background-color 0.3s ease; /* Smooth transition */
}

footer {
  background-color: #f8f8f8;
  padding: 1rem;
  width: 100%;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: smaller;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info, .social-media, .legal-info {
  margin: 0.5rem 0;
}

.social-media a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: #000;
}

.social-media a:hover {
  color: #3700ff;
}

.legal-info a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: #727272;
}

.legal-info a:hover {
  color: #000;
}

@media (max-width: 600px) {
  .header-content {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .button-group {
    flex-direction: column;
  }

  .sliders input[type="range"] {
    width: 80%;
  }
}
